@model Survey.Entities.Poll

@{
    ViewData["Title"] = "Details";
    var count = 1;
}

<h1>Details</h1>

<div>
    <h4>Poll</h4>
    <form method="post">
        <button asp-action="FileDowloadFormatWord" asp-route-id="@Model.Id" class="btn btn-info">Anket Bilgi Dosyası İndir.</button>

    </form>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredVote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequiredVote)
        </dd>
    </dl>
</div>

<div class="row">
    @if (Model.YesNoQuestions == null)
    {
        <div></div>
    }
    else
    {
        <h4>Sorular</h4>
        <br />
        @foreach (var poll in Model.YesNoQuestions)
        {
            <br />
            <div class="col-6">
                <h3>Soru @count</h3>
                <partial name="_YesNoQuestion" model="@poll" />
            </div>
            count++;
        }
}



</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a>
    <a asp-action="Index">Back to List</a>
</div>
